.upper {
	text-transform: uppercase;
}
.scaled {
	transform: scale(1.2);
}

* {
	margin: 0;
	padding: 0;
	box-shadow: border-box;
}

body {
	display: flex;
	justify-content: center;
	background: linear-gradient(to right bottom, #5a0096, #962700, #fd5050);
	background-attachment: fixed;
	color: white;
	overflow-x: hidden;
}
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: min(88vw, 400px);
	height: min(50vh, 400px);
	justify-content: space-around;
	text-align: center;
	background: #ff5b059a;
	border: none;
	box-shadow: 3px 3px 15px #222;
	border-radius: 15px;
	padding: 10px;
	margin-top: 40px;
}
#emoji {
	font-size: 3.7rem;
	text-shadow:
		2px 2px 0 #000,
		-2px 2px 0 #000,
		-2px -2px 0 #000,
		2px -2px 0 #000;
}
#name {
	font-size: 1.5rem;
	text-align: center;
	text-shadow:
		1px 1px 0 #000,
		-1px 1px 0 #000,
		-1px -1px 0 #000,
		1px -1px 0 #000;
}
.heading {
	font-size: 2.6rem;
	text-shadow:
		3px 3px 0 #000,
		-3px 3px 0 #000,
		-3px -3px 0 #000,
		3px -3px 0 #000;
}
#btn {
	border-radius: 15px;
	background: #ee2e00dd;
	width: 150px;
	height: 50px;
	border: none;
	font-size: 1.2rem;
	box-shadow: 3px 3px 20px #555;
	transition: all 0.3s ease-in-out;
	color: white;
}
#btn:active {
	transform: scale(1.2);
}
@keyframes falling {
	0% {
		transform: translateY(-30vh);
		opacity: 5;
	}
	90% {
		opacity: 1;
	}
	100% {
		transform: translateY(120vh);
		opacity: 0;
	}
}
.fall {
	padding: 25px;
	font-size: 3rem;
	height: 5px;
	position: absolute;
	top: 1px;
	animation: 3s ease-in infinite backwards falling;
	text-shadow:
		3px 3px 0 #000,
		-3px 3px 0 #000,
		-3px -3px 0 #000,
		3px -3px 0 #000;
}
